<div class="row">
    <div class="col-6">
        <app-grafica-dona [title]="title1" [data]="data1" [labels]="labels1" [colors]="colors1"></app-grafica-dona>
    </div>
    <div class="col-6">
      <app-grafica-dona [title]="title2" [data]="data2" [labels]="labels2" [colors]="colors2"></app-grafica-dona>
    </div>
    <div class="col-6">
      <app-grafica-dona [title]="title3" [data]="data3" [labels]="labels3" [colors]="colors3"></app-grafica-dona>
    </div>
    <div class="col-6">
      <app-grafica-dona [title]="title4" [data]="data4" [labels]="labels4" [colors]="colors4"></app-grafica-dona>
    </div>
</div>
